*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 43.75em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 34.5em) {
  html {
    font-size: 40%;
  }
}

body {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 13rem;
  font-weight: 900;
}
@media only screen and (max-width: 34.5em) {
  h1 {
    font-size: 10rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.desc {
  font-weight: 300;
  font-size: 1.5rem;
}

section {
  padding: 6rem 10rem 5rem 10rem;
}
@media only screen and (max-width: 43.75em) {
  section {
    padding: 3rem 8rem 2.5rem 8rem;
  }
}
@media only screen and (max-width: 26.25em) {
  section {
    padding: 3rem 7rem 2.5rem 7rem;
  }
}

header {
  height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 191, 105);
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 43.75em) {
  header {
    height: 70vh;
  }
}
@media only screen and (max-width: 34.5em) {
  header {
    height: 50vh;
  }
}

.site_adress--navbar {
  flex: 0 1 20%;
}
.site_adress--footer {
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
  position: relative;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  flex: 0 1 30%;
}
@media only screen and (max-width: 68.75em) {
  .navbar__list {
    flex: 0 1 40%;
  }
}
@media only screen and (max-width: 43.75em) {
  .navbar__list {
    flex: 0 1 50%;
  }
}
@media only screen and (max-width: 34.5em) {
  .navbar__list {
    display: none;
  }
}
.navbar__link {
  color: black;
}
.navbar__item {
  list-style: none;
  justify-content: space-between;
}

.header {
  background-image: url(/images/background.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 95vh;
  max-width: 85%;
  margin: 0 10rem;
}
@media only screen and (max-width: 68.75em) {
  .header {
    background-position: right;
  }
}
@media only screen and (max-width: 43.75em) {
  .header {
    margin: 0 8rem;
    height: 60vh;
  }
}
@media only screen and (max-width: 34.5em) {
  .header {
    height: 50vh;
  }
}
@media only screen and (max-width: 26.25em) {
  .header {
    margin: 0 7rem;
  }
}
.header__textbox {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  margin-top: 10rem;
  color: white;
}
@media only screen and (max-width: 43.75em) {
  .header__textbox {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 34.5em) {
  .header__textbox {
    margin-top: 1rem;
  }
}
.header__desc {
  margin-bottom: 8rem;
  font-weight: 600;
  font-size: 2rem;
}
@media only screen and (max-width: 43.75em) {
  .header__desc {
    margin-bottom: 4rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
}
.about__textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__desc {
  text-align: center;
  margin-top: 2rem;
}

.choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 60vh;
  background-color: rgb(191, 254, 233);
}
@media only screen and (max-width: 26.25em) {
  .choose {
    max-height: none;
  }
}
.choose__flexbox {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
@media only screen and (max-width: 26.25em) {
  .choose__flexbox {
    flex-direction: column;
  }
}
.choose__text {
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 25%;
  max-height: 100%;
  justify-content: center;
}
@media only screen and (max-width: 34.5em) {
  .card {
    flex: 0 1 30%;
  }
}
.card__img_container {
  max-width: 20rem;
  max-height: 20rem;
  margin-bottom: 2rem;
  flex: 0 1 55%;
}
.card__text {
  margin-bottom: 2rem;
  text-align: center;
  flex: 0 1 35%;
}
.card__img {
  width: 100%;
  height: 100%;
}

.rules {
  background-image: url(./images/bg-grid.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}
@media only screen and (max-width: 56.25em) {
  .rules {
    max-height: 60vh;
  }
}
@media only screen and (max-width: 43.75em) {
  .rules {
    max-height: 40vh;
  }
}
@media only screen and (max-width: 34.5em) {
  .rules {
    max-height: 40vh;
  }
}
@media only screen and (max-width: 26.25em) {
  .rules {
    max-height: 50vh;
  }
}
.rules__textbox {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rules__text {
  margin-bottom: 2.5rem;
}
.rules__img_container {
  flex: 0 1 35%;
}
.rules__img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: rgb(59, 59, 59);
  color: rgb(243, 241, 241);
  padding: 1rem 0;
}
.footer__items {
  display: flex;
  width: 100%;
  padding: 2rem 10rem;
  justify-content: space-between;
}
@media only screen and (max-width: 43.75em) {
  .footer__items {
    padding: 0.8rem 5rem;
  }
}
@media only screen and (max-width: 26.25em) {
  .footer__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.footer__item {
  list-style: none;
  font-size: 1.5rem;
}
@media only screen and (max-width: 26.25em) {
  .footer__item {
    margin-left: 2rem;
  }
}
.footer__link {
  color: white;
}

.btn {
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.btn--primary {
  width: 19rem;
  height: 6rem;
  background-color: rgb(191, 254, 233);
  font-size: 2rem;
}
.btn--secondary {
  width: 10rem;
  height: 3rem;
  background-color: rgb(255, 191, 105);
  font-size: 1.5rem;
}
@media only screen and (max-width: 26.25em) {
  .btn--secondary {
    margin-bottom: 3rem;
  }
}

.hamburger {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  background-color: aqua;
}
@media only screen and (max-width: 34.5em) {
  .hamburger {
    display: block;
  }
}
.hamburger__bars {
  position: fixed;
  cursor: pointer;
  top: 10px;
  right: 30px;
  z-index: 10;
}
.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.4s ease-in-out;
  background-color: rgb(0, 0, 0);
}
.hamburger__list {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  transition: all 0.3s;
  left: -100%;
}
.hamburger__item {
  list-style: none;
  margin: 7px;
}

.active .hamburger__bar:nth-child(2) {
  opacity: 0;
}
.active .hamburger__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.active .hamburger__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.active.hamburger__list {
  left: 0%;
}/*# sourceMappingURL=styles.css.map */